dj_database_url==0.5.0
Django==3.2.8
django_heroku==0.3.1
djangorestframework==3.13.1
matplotlib==3.5.1
numpy==1.21.3
scipy==1.7.3
gunicorn
psycopg2    
python-decouple
django-cors-headers
whitenoise
django-filter


